.orange-bg {
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color:#ffd700;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136F 100%);
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}
.container {
    margin-bottom: 100px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(214, 28, 205);
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories img {
    width: 120px;
}